body {
    margin: auto;
    width: 1440px;
}
.preview {
    margin: auto;
    width: 100%;
    height: 765px;
    background-image: url('../img/garrett-parker-DlkF4-dbCOU-unsplash 1.png');
    background-size: 1440px 765px;
}
header {
    width: 100%;
    height: 90px;
    background-color: rgba(242, 120, 92, 70%);
    box-shadow: 0 4px 4px rgba(13, 96, 111, 50%);
}
.header_elements {
    margin: auto;
    padding: 25px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    width: 527px;
    margin:auto;
    padding: 0;
    margin-left:-40px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul a {
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.btn_login {
    width: 103px;
    height: 41px;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #0D606F;
    border:none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%), 0 2px 3px rgba(13, 96, 111, 16%);
}
.explore {
    margin-top: 32px;
    margin-left: 120px;
    width: 892px;
    height: 422px;
    color: #FFFFFF
}
.explore h1 {
    margin: 0px;
    font-family: 'Aleo', serif;
    font-size: 80px;
    font-weight: bold;
}
.explore p {
    margin-top: 33px;
    margin-bottom: 46px;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.search {
    width: 100%;
    height: 95px;
    background-color: rgba(255, 255, 255, 70%);
    border:none;
    border-radius: 16px;
}
.text_start {
    margin-top: 32px;
    margin-left: 41px;
    width: 560px;
    color: #F2785C;
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500; 
    background: none;
    border: none;
    outline: none;
}
.text_start::-webkit-input-placeholder {
    color:#F2785C;
}
.text_start::-moz-placeholder {
    color:#F2785C;
}
.text_start:-moz-placeholder {
    color:#F2785C;
}
.text_start:-ms-input-placeholder {
    color:#F2785C;
}
.btn_start {
    width: 228px;
    height: 59px;
    margin: 18px;
    float: right;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 24px;
    font-weight: 500;
    background-color: #0D606F;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(13, 96, 111, 8%), 0 0 3px rgba(13, 96, 111, 16%);
}
.steps {
    width: 100%;
    margin:auto;
    margin-top: 80px;
    margin-bottom: 97px;
}
.headline {
    margin: 0;
    color: #F2785C;;
    text-transform: uppercase;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 40px;
    text-align: center;
}
.steps_of_trip {
    width: 1177px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 317px;
    height: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:first-child {
    width: 247px;
    margin-right: 70px;
}
.card div {
    width: 100px;
    height: 100px;
    background-color: #F2785C;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 16px;
}
.card p {
    margin: 0;
    font-family: 'Aleo', serif;
    font-size: 20px;
    color:#0D606F;
    font-weight: 500px;
    padding: 0;
    padding-top: 30px;
}
.destinations {
    width: 100%;
    height: 1042px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destinations h2 {
    margin-top: 0px;
}
.cards_of_place {
    width:2520px;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.place {
    position: relative; 
}
.place p {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 718px;
    left: 15px;
}
.btn_radio {
    width: 80px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.btn_radio input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    background-color: rgba(242, 120, 92, 50%);
}
.btn_radio input:checked {
    background-color: rgba(242, 120, 92, 100%);
}
.btn_find_more {
    width: 228px;
    height: 59px;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 24px;
    font-weight: 500;
    background-color: #0D606F;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(13, 96, 111, 8%), 0 2px 3px rgba(13, 96, 111, 16%);
    text-align: center;
    padding: 9.5px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.background_stories_footer {
    width: 100%;
    height: 1331px;;
    background-image: url('../img/Rectangle 33.png');
    background-size: 1442px 1331px;
    margin-top: 173px;  
}
.background_stories_footer>div {
    position: relative;
    width:100%;
    height: 1270px;
    background-color: rgba(255, 255, 255, 70%);
}
.stories {
    position: absolute;
    top: -95px;
    left: 119.5px;
    width: 1201px;
    height: 1322px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories h2 {
    margin-top: 0px;
    margin-bottom: 80px;
}
.story {
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.story img {
    border:none;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(13, 96, 111, 100%)
}
.story div {
    margin-left: 40px;
}
.story h3 {
    margin: 0;
    font-family: 'Aleo', serif;
    font-size: 35px;
    color:#0D606F;
    font-weight: 500;
}
.story p {
    margin-top: 24px;
    font-family: 'Aleo', serif;
    font-size: 20px;
    color:#0D606F;
    font-weight: 500;
}
.story a {
    color:#0D606F;
    font-weight: bold;
}
.stories .btn_find_more {
    margin-top: 10px;
    padding-right: 40px; 
    text-align: left;
}
footer {
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer>div{
    width: 728.96px;
    height: 33.65px;
    margin-right: 121.04px;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icons {
    width: 140.96px;
    display: flex;
    justify-content: space-between;
}